html, body, header, #intro {
    height: 100%;
}

#intro {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.top-nav-collapse {
    background-color: #303f60;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #303f60;
    }

    .intro__title {
        font-size: 1.5rem!important;
    }

    .intro__suptitle {
        font-size: 1rem!important;
    }
}

.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
